.green {
  color: green;
}

.yellow {
  color: black;
}

.red {
  color: red;
}

h1 {
    color: grey;
    font-family: "Tahoma";
    text-align: center
}

h2 {
    color: grey;
    font-family: "Tahoma";
}

body {
  background-image: url("thermocat.jpeg");
  background-repeat: no-repeat;
  background-position: right top;


}
